<html>
    <head>
        <title>The Wall</title>
        <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'app_login/css/style.css' %}">    
        <script src="{% static 'app_login/js/script.js' %}"></script>        
    </head>
      <body class="bg-light">
<!--BEGIN NAV-->        
<!-- BEGIN OF NAVIGATION CONSTANT AREA-->         
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-5">
    <a class="navbar-brand" href="#">Everett</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wall">The Wall</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies">Movie Reviews</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="/logout">
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
      </form>
    </div>
  </nav>


<div class="container">
<div class="lead pt-5"></div>
<!-- END OF NAVIGATION CONSTANT AREA-->   

<!--LEFT SIDE TOP-->     
<div class="row mb-2">
<div class="col-md-6">
<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <h3 class="mb-0">Welcome, {{user.first_name}}!</h3>

  </div>
 
</div>
</div>

<!--RIGHT SIDE TOP-->
<div class="col-md-6">
<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    
    
    <div class="mb-1 text-muted"></div>
    
    <a href="#" class="stretched-link">This link goes nowhere! </a>
  </div>
 
</div>
</div>
</div>
          
<!--END NAV-->     
       
        
        <main role="main" class="container">
<!--BEGIN USER MESSAGE INPUT--> 
            <form class="needs-validation" novalidate action="/wall/wall_post" method="POST">
              {% csrf_token %}
              <h6 class="p-2">Post a Message</h6>    
          <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
            
                <textarea class="form-control input-lg rounded shadow-sm" name="message" rows="3" placeholder="Whats on your mind?"></textarea>
            
          </div>
          <div class="btn-toolbar justify-content-between">
          <div class="btn-group"></div>
          <div class="btn-group">
          <button class="btn btn-outline-success btn-sm btn-block w-25 " type="submit">Post my message</button>
        </div>
      </div>
              </form>
<!--END USER MESSAGE INPUT--> 
 

          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

<!--BEGIN MESSAGE SCROLL-->
        {% for messages in message_scroll %} 
            <div class="media text-muted pt-3">
              <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" ><rect width="100%" height="100%" fill="black"/><text x="50%" y="50%" fill="black" dy=".3em"></text></svg>
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray ">
                <strong class="d-block text-gray-dark">{{messages.user.first_name}} {{messages.user.last_name}} | {{messages.created_at}}</strong>
               {{messages.message}}
              </p>
            </div>
        
<!--END MESSAGE SCROLL-->

        
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Post a Comment</h6>

 <!--BEGIN COMMENT ADD-->  
 {% for comments in comment_scroll %}
 {% if comments.message.id == messages.id %}
            <div class="media text-muted pt-3">
              <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" ><rect width="100%" height="100%" fill="red"/><text x="50%" y="50%" fill="red" dy=".3em"></text></svg>
              <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-gray-dark">{{comments.user.first_name}} {{comments.user.last_name}} | {{comments.created_at}}</strong>
                  <p>
                  {{comments.comment}}
                </p>
                {% if comments.user.id == user.id %}
                  <a href="delete/{{ comments.id }}">Delete</a>
                {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
<!--END COMMENT ADD-->

<!--BEGIN COMMENT INPUT-->
            <div class="media text-muted pt-3">
              
              <div class="media-body pb-3 border-bottom border-gray">
                <div class=" justify-content-between align-items-center ">
                    <form class="needs-validation" novalidate action="/wall/comment_post" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value= "{{messages.id}}" name="message_id">
                      
                      <h6 class="p-2">Post a Message</h6>    
                
                    <textarea class="form-control rounded shadow-sm" name="comment" rows="3"></textarea>
                
                  
                  <div class="btn-toolbar justify-content-between">
                  <div class="btn-group"></div>
                  <div class="btn-group">
                  <button class="btn btn-outline-success btn-sm btn-block w-25 " type="submit">Post my comment</button>
                </div>
              </div>
                      </form>
                </div>
                
              </div>
            </div>
            
            {% endfor %}
<!--END COMMENT INPUT-->


            <!-- <div class="media text-muted pt-3">
              <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
              <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-gray-dark">Full Name</strong>
                  <a href="#">Follow</a>
                </div>
                <span class="d-block">@username</span>
              </div>
            </div>
            <small class="d-block text-right mt-3">
              <a href="#">All suggestions</a>
            </small>
          </div> -->
        </main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>