<html>
    <head>
        <title>{{ movie.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'app_login/css/style.css' %}">    
        <script src="{% static 'app_login/js/script.js' %}"></script>        
    </head>
    <body>
<!-- BEGIN OF NAVIGATION CONSTANT AREA-->         
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-5">
          <a class="navbar-brand" href="#">Everett</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wall">The Wall</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/movies">Movie Reviews</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/logout">
              
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
          </div>
        </nav>
  
    
    <div class="container">
      <div class="lead pt-5"></div>
<!-- END OF NAVIGATION CONSTANT AREA-->   

 <!--LEFT SIDE TOP-->     
 <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ movies.title }}</h3>
          <h5 class="mb-0">{{ actors.name }}</h5>

        </div>
       
      </div>
    </div>

<!--RIGHT SIDE TOP-->
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          
          <div class="mb-1 text-muted"></div>
          
          <a href="#" class="stretched-link">Home</a>
        </div>
       
      </div>
    </div>
  </div>


 <!--LEFT SIDE -->     
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Reviews:</strong>
  <!--REVIEWS LISTING-->   
  <span class="border-bottom my-3"></span>
  {% for review in reviews %}
              
                <div class="mb-1 text-muted">Rating: &#10035; </div>
                <p class="d-inline">
                <p class="card-text mb-auto"><a href="#" class="stretched-link">{{review.user.first_name}}</a> says:</p>
            {{review.review}}</p>
            <p class="card-text mb-auto">Posted on {{review.created_at}}</p>

            {% if review.user.id == review.id %}
            <p class="card-text mb-auto"><a href="/delete" class="stretched-link">Delete Review</a></p>
            <span class="border-bottom my-3"></span>
            {% endif %}
            {% endfor %} 

  <!--END REVIEWS LISTING-->          
              </div>
              <div class="col-auto d-none d-lg-block">
            </div>
            </div>
          </div>
        

<!--RIGHT SIDE-->
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Add your review:</strong>
            <div class="form-group col-md-12">
                <form action="/movies/add_review" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{ movies.id }}" name="movie_id">
                <textarea class="form-control" name="review"></textarea>
              </div>
            </div>
              <div class="form-group col-md-12"></div>
              <div class="form-row"></div>
              <div class="form-row"></div>
              <div class="d-inline">
              <div class="form-row p-2">Rating:
                <select name="rating" class="form-control col-md-2">
                  <option selected>&#10035;</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                Stars
              </div>
              </div>
                <div class="form-row d-inline" >
                  
            <button type="submit" class="btn btn-primary">Add Review</button>
            </div>
          </form>
        </div>
    </div>
    </div>
    </div>
    
  
  
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>