<html>
    <head>
        <title>ALL USERS: LISTING</title>
        <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'app_login/css/style.css' %}">    
        <script src="{% static 'app_login/js/script.js' %}"></script>        
    </head>
    <body>
<!-- BEGIN OF NAVIGATION CONSTANT AREA-->         
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-5">
          <a class="navbar-brand" href="#">Everett</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wall">The Wall</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/movies">Movie Reviews</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/logout">
              
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
          </div>
        </nav>
  
    
    <div class="container">
      <div class="lead pt-5"></div>
<!-- END OF NAVIGATION CONSTANT AREA-->   

<!--ALL USERS LISTING PAGE-->

 <!--LEFT SIDE TOP-->     
 <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Welcome, {{user.first_name}}!</h3>

        </div>
       
      </div>
    </div>

<!--RIGHT SIDE TOP-->
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          
          <div class="mb-1 text-muted"></div>
          
          <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#adduser">
              Add User
            </button>
        </div>
       
      </div>
    </div>
  </div>


 <!--LEFT SIDE -->     
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Users in system:</strong>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                      
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                 
                    
                    {% for users in users_info %}
                    <tr>
                    <td>{{users.id}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.first_name}}</td>
                    <td>{{users.last_name}}</td>
                    <td><a href="update/{{users.id}}">Edit Info</a></td>
                  </tr>
                    {% endfor %} 
                  
                  
                </tbody>
              </table>
          </div>
          <div class="col-auto d-none d-lg-block">
          </div>
        </div>
      </div>
<!--ADD USER MODAL BEGIN-->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="adduser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Add User">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="add_new" method="POST">
              {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="hidden" value="{{users.id}}" name="id">
                    <label >First Name</label>
                    <input type="text" class="form-control" name="first_name" >
                  </div>
                  <div class="form-group col-md-6">
                    <label >Last Name</label>
                    <input type="text" class="form-control" name="last_name" >
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Email</label>
                  <input type="text" class="form-control" name="email" >
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add User</button>
<!--ERROR MESSAGE OUTPUT-->
{% if messages %}
<ul class="messages">    
{% for message in messages %}    
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
{% endfor %}
</ul>
{% endif %}

        </form>
        </div>
      </div>
    </div>
  </div>

  <!--ADD USER MODAL END-->

<!--RIGHT SIDE-->
      <!-- <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">Post title</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
        </div>
        </div>
      </div>
    </div>
  </div> -->
  
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>